.dropdown {
    color: white;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    color: red;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(242, 42, 155, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: red;
    background-color: grey !important;
}


div {
    color: white;
    color-scheme: blue, white;
}


* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 60%;
  padding: 10px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  display: flex;
  background-color: #e33b28;
  color: white;
  padding: 14px 20px;
  margin: 100px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

button:hover {
  color: rgb(201, 71, 23);
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    color: #88f05f;
    width: 100%;
  }
}








body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.signout-container {
    text-align: center;
    margin-top: 100px;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.form-container {
    width:  300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;
    border-radius: 6px;
}
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
}








.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}


body {
    background-image: url('images/samuel-girven-fqMu99l8sqo-unsplash.jpg');
          /*  unplash image */
    height: 100%; 

          /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: white !important;
    background-image: url('images/delaney-van-Mzu7qcmP5tk-unsplash.jpg');
          /* Full height */
    height: 100%; 

          /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #bbb;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}